html {
  background-color: lightgrey;
}

#nav_bar {
  position: relative;
  list-style-type: none;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#nav_bar li {
  float: left;
}

#nav_bar li a {
  display: block;
  color: red;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

#nav_bar li a:hover {
  color: white;
}

#qb_stats, #rb_stats, #defense_stats {
  margin-left: auto;
  margin-right: auto;
}


.player, .table_header, #table_title, .rb_name, .def_team_name {
  background-color: darkgrey;
  font-size: 1.1em;
}

footer {
  display: inline;
  font-size: .875em;
  text-align: center;
}

footer ul {
  list-style-type: none;
  overflow: hidden;
}

footer ul li {
  display: inline-block;
  text-align: center;
}

footer ul li a {
  display: block;
  color: red;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

footer ul li a:hover {
  color: white;
}

#index_title {
  text-align: center;
  color: red;
}

#index_content {
  text-align: center;
}

#choose_stat_1:hover {
  cursor: pointer;
  background-color: red;
}
