<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<body>
  {% block content %}
  <h1 id='index_title'>Django Project (Application Development)</h1>
  <p id='index_content'>This is a project created for an Application Development class that scrapes stats from NFL.com and ESPN.com. It uses the beautifulsoup4 module to do the web scraping, and JavaScript for the quiz. This project also uses the Django framework.</p>

  <input checked type='radio' name='slider' id='slide1'/>
  	<input type='radio' name='slider' id='slide2'/>
  	<input type='radio' name='slider' id='slide3'/>
  	<input type='radio' name='slider' id='slide4'/>
  	<input type='radio' name='slider' id='slide5'/>
  	<div id="slides">
  	<div id="container">
  		<div class="inner">
  			<article>
          <div class='caption'>
    				<bar>Derrick Henry - RB</bar>
    			</div>
  			  <img src="{% static 'images/theKING.jpg' %}" height="730px" width="942px"/>
  			</article>
  			<article>
          <div class='caption'>
    				<bar>Dont'a Hightower - LB</bar>
    			</div>
  			  <img src="{% static 'images/dontaHightower.jpg' %}" height="730px" width="942px"/>
  			</article>
  			<article>
          <div class='caption'>
           <bar>Patrick Mahomes - QB</bar>
         </div>
  			 <img src="{% static 'images/patrickMahomes.jpg' %}" height="730px" width="942x"/>
  			</article>
  			<article>
          <div class='caption'>
    				<bar>Calvin Ridley - WR</bar>
    			</div>
  			  <img src="{% static 'images/calvinRidley.jpeg' %}" height="730px" width="942px"/>
  			</article>
  			<article>
          <div class='caption'>
              <bar>Aaron Rodgers - QB</bar>
          </div>
    			<img src="{% static 'images/aaronRodgers.jpeg' %}" height="730px" width="942px"/>
  			</article>
  		</div>
  	</div>
  </div>
  <div id="commands">
    <label for='slide1'></label>
    <label for='slide2'></label>
    <label for='slide3'></label>
    <label for='slide4'></label>
    <label for='slide5'></label>
  </div>
  <div id="active">
  	<label for='slide1'></label>
  	<label for='slide2'></label>
  	<label for='slide3'></label>
  	<label for='slide4'></label>
  	<label for='slide5'></label>
  </div>
  <iframe sandbox="allow-scripts allow-same-origin" id="4659f34d2e4f57a" frameborder="0" allowtransparency="true" marginheight="0" marginwidth="0" width="0" hspace="0" vspace="0" height="0" style="height:0px;width:0px;display:none;" scrolling="no" src="https://eus.rubiconproject.com/usync.html">
    </iframe>
  <iframe sandbox="allow-scripts allow-same-origin" id="48f743914d15097" frameborder="0" allowtransparency="true" marginheight="0" marginwidth="0" width="0" hspace="0" vspace="0" height="0" style="height:0px;width:0px;display:none;" scrolling="no" src="https://acdn.adnxs.com/dmp/async_usersync.html">
    </iframe>
  <iframe sandbox="allow-scripts allow-same-origin" id="47083a7039f0ba4" frameborder="0" allowtransparency="true" marginheight="0" marginwidth="0" width="0" hspace="0" vspace="0" height="0" style="height:0px;width:0px;display:none;" scrolling="no" src="https://acdn.adnxs.com/dmp/async_usersync.html">
    </iframe>
  {% endblock %}
</body>
