<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<body>
  {% block content %}
  <table id='rb_stats' border = '1'>
    <tr id='table_title'>
      <td colspan='11' align='center'>
        <img src="{% static 'images/page_title.png'%}" alt='NFL Stats'>
      </td>
    </tr>
    <tr>
      <td class="title_row" colspan='2' align='center'>
        <img src="{% static 'images/nfl_logo.jpg'%}" alt="NFL Logo">
      </td>
      <td class='title_row' colspan='6' align='center'>
        <img src="{% static 'images/rushing_title.png'%}" alt="Passing" width='300' height='78'>
      </td>
      <td class='title_row' colspan='2' align='center'>
        <img src="{% static 'images/nfl_logo.jpg'%}" alt="NFL Logo" align='center'>
      </td>
    </tr>
    <tr>
      <td class='table_header'>Player</td>
      <td class='table_header'>Yards</td>
      <td class='table_header'>Attempts</td>
      <td class='table_header'>TD</td>
      <td class='table_header'>20+</td>
      <td class='table_header'>40+</td>
      <td class='table_header'>Long</td>
      <td class='table_header'>Rush 1st</td>
      <td class='table_header'>Rush 1st %</td>
      <td class='table_header'>Rush Fum</td>
    </tr>
    <tr>
<td id='rb_1' class='rb_name'>{{ rb_1}}</td>
<td id='rb_1_rush_yds' class='rb_rush_yds'>{{ rb_1_rush_yds}}</td>
<td id='rb_1_att' class='rb_att'>{{ rb_1_att}}</td>
<td id='rb_1_td' class='rb_td'>{{ rb_1_td}}</td>
<td id='rb_1_20' class='rb_20'>{{ rb_1_20}}</td>
<td id='rb_1_40' class='rb_40+'>{{ rb_1_40}}</td>
<td id='rb_1_long' class='rb_long'>{{ rb_1_long}}</td>
<td id='rb_1_rush_1st' class='rb_rush_1st'>{{ rb_1_rush_1st}}</td>
<td id='rb_1_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_1_rush_1st_perc}}</td>
<td id='rb_1_rush_fum' class='rb_rush_fum'>{{ rb_1_rush_fum}}</td>
</tr>
<tr>
<td id='rb_2' class='rb_name'>{{ rb_2}}</td>
<td id='rb_2_rush_yds' class='rb_rush_yds'>{{ rb_2_rush_yds}}</td>
<td id='rb_2_att' class='rb_att'>{{ rb_2_att}}</td>
<td id='rb_2_td' class='rb_td'>{{ rb_2_td}}</td>
<td id='rb_2_20' class='rb_20'>{{ rb_2_20}}</td>
<td id='rb_2_40' class='rb_40+'>{{ rb_2_40}}</td>
<td id='rb_2_long' class='rb_long'>{{ rb_2_long}}</td>
<td id='rb_2_rush_1st' class='rb_rush_1st'>{{ rb_2_rush_1st}}</td>
<td id='rb_2_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_2_rush_1st_perc}}</td>
<td id='rb_2_rush_fum' class='rb_rush_fum'>{{ rb_2_rush_fum}}</td>
</tr>
<tr>
<td id='rb_3' class='rb_name'>{{ rb_3}}</td>
<td id='rb_3_rush_yds' class='rb_rush_yds'>{{ rb_3_rush_yds}}</td>
<td id='rb_3_att' class='rb_att'>{{ rb_3_att}}</td>
<td id='rb_3_td' class='rb_td'>{{ rb_3_td}}</td>
<td id='rb_3_20' class='rb_20'>{{ rb_3_20}}</td>
<td id='rb_3_40' class='rb_40+'>{{ rb_3_40}}</td>
<td id='rb_3_long' class='rb_long'>{{ rb_3_long}}</td>
<td id='rb_3_rush_1st' class='rb_rush_1st'>{{ rb_3_rush_1st}}</td>
<td id='rb_3_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_3_rush_1st_perc}}</td>
<td id='rb_3_rush_fum' class='rb_rush_fum'>{{ rb_3_rush_fum}}</td>
</tr>
<tr>
<td id='rb_4' class='rb_name'>{{ rb_4}}</td>
<td id='rb_4_rush_yds' class='rb_rush_yds'>{{ rb_4_rush_yds}}</td>
<td id='rb_4_att' class='rb_att'>{{ rb_4_att}}</td>
<td id='rb_4_td' class='rb_td'>{{ rb_4_td}}</td>
<td id='rb_4_20' class='rb_20'>{{ rb_4_20}}</td>
<td id='rb_4_40' class='rb_40+'>{{ rb_4_40}}</td>
<td id='rb_4_long' class='rb_long'>{{ rb_4_long}}</td>
<td id='rb_4_rush_1st' class='rb_rush_1st'>{{ rb_4_rush_1st}}</td>
<td id='rb_4_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_4_rush_1st_perc}}</td>
<td id='rb_4_rush_fum' class='rb_rush_fum'>{{ rb_4_rush_fum}}</td>
</tr>
<tr>
<td id='rb_5' class='rb_name'>{{ rb_5}}</td>
<td id='rb_5_rush_yds' class='rb_rush_yds'>{{ rb_5_rush_yds}}</td>
<td id='rb_5_att' class='rb_att'>{{ rb_5_att}}</td>
<td id='rb_5_td' class='rb_td'>{{ rb_5_td}}</td>
<td id='rb_5_20' class='rb_20'>{{ rb_5_20}}</td>
<td id='rb_5_40' class='rb_40+'>{{ rb_5_40}}</td>
<td id='rb_5_long' class='rb_long'>{{ rb_5_long}}</td>
<td id='rb_5_rush_1st' class='rb_rush_1st'>{{ rb_5_rush_1st}}</td>
<td id='rb_5_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_5_rush_1st_perc}}</td>
<td id='rb_5_rush_fum' class='rb_rush_fum'>{{ rb_5_rush_fum}}</td>
</tr>
<tr>
<td id='rb_6' class='rb_name'>{{ rb_6}}</td>
<td id='rb_6_rush_yds' class='rb_rush_yds'>{{ rb_6_rush_yds}}</td>
<td id='rb_6_att' class='rb_att'>{{ rb_6_att}}</td>
<td id='rb_6_td' class='rb_td'>{{ rb_6_td}}</td>
<td id='rb_6_20' class='rb_20'>{{ rb_6_20}}</td>
<td id='rb_6_40' class='rb_40+'>{{ rb_6_40}}</td>
<td id='rb_6_long' class='rb_long'>{{ rb_6_long}}</td>
<td id='rb_6_rush_1st' class='rb_rush_1st'>{{ rb_6_rush_1st}}</td>
<td id='rb_6_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_6_rush_1st_perc}}</td>
<td id='rb_6_rush_fum' class='rb_rush_fum'>{{ rb_6_rush_fum}}</td>
</tr>
<tr>
<td id='rb_7' class='rb_name'>{{ rb_7}}</td>
<td id='rb_7_rush_yds' class='rb_rush_yds'>{{ rb_7_rush_yds}}</td>
<td id='rb_7_att' class='rb_att'>{{ rb_7_att}}</td>
<td id='rb_7_td' class='rb_td'>{{ rb_7_td}}</td>
<td id='rb_7_20' class='rb_20'>{{ rb_7_20}}</td>
<td id='rb_7_40' class='rb_40+'>{{ rb_7_40}}</td>
<td id='rb_7_long' class='rb_long'>{{ rb_7_long}}</td>
<td id='rb_7_rush_1st' class='rb_rush_1st'>{{ rb_7_rush_1st}}</td>
<td id='rb_7_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_7_rush_1st_perc}}</td>
<td id='rb_7_rush_fum' class='rb_rush_fum'>{{ rb_7_rush_fum}}</td>
</tr>
<tr>
<td id='rb_8' class='rb_name'>{{ rb_8}}</td>
<td id='rb_8_rush_yds' class='rb_rush_yds'>{{ rb_8_rush_yds}}</td>
<td id='rb_8_att' class='rb_att'>{{ rb_8_att}}</td>
<td id='rb_8_td' class='rb_td'>{{ rb_8_td}}</td>
<td id='rb_8_20' class='rb_20'>{{ rb_8_20}}</td>
<td id='rb_8_40' class='rb_40+'>{{ rb_8_40}}</td>
<td id='rb_8_long' class='rb_long'>{{ rb_8_long}}</td>
<td id='rb_8_rush_1st' class='rb_rush_1st'>{{ rb_8_rush_1st}}</td>
<td id='rb_8_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_8_rush_1st_perc}}</td>
<td id='rb_8_rush_fum' class='rb_rush_fum'>{{ rb_8_rush_fum}}</td>
</tr>
<tr>
<td id='rb_9' class='rb_name'>{{ rb_9}}</td>
<td id='rb_9_rush_yds' class='rb_rush_yds'>{{ rb_9_rush_yds}}</td>
<td id='rb_9_att' class='rb_att'>{{ rb_9_att}}</td>
<td id='rb_9_td' class='rb_td'>{{ rb_9_td}}</td>
<td id='rb_9_20' class='rb_20'>{{ rb_9_20}}</td>
<td id='rb_9_40' class='rb_40+'>{{ rb_9_40}}</td>
<td id='rb_9_long' class='rb_long'>{{ rb_9_long}}</td>
<td id='rb_9_rush_1st' class='rb_rush_1st'>{{ rb_9_rush_1st}}</td>
<td id='rb_9_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_9_rush_1st_perc}}</td>
<td id='rb_9_rush_fum' class='rb_rush_fum'>{{ rb_9_rush_fum}}</td>
</tr>
<tr>
<td id='rb_10' class='rb_name'>{{ rb_10}}</td>
<td id='rb_10_rush_yds' class='rb_rush_yds'>{{ rb_10_rush_yds}}</td>
<td id='rb_10_att' class='rb_att'>{{ rb_10_att}}</td>
<td id='rb_10_td' class='rb_td'>{{ rb_10_td}}</td>
<td id='rb_10_20' class='rb_20'>{{ rb_10_20}}</td>
<td id='rb_10_40' class='rb_40+'>{{ rb_10_40}}</td>
<td id='rb_10_long' class='rb_long'>{{ rb_10_long}}</td>
<td id='rb_10_rush_1st' class='rb_rush_1st'>{{ rb_10_rush_1st}}</td>
<td id='rb_10_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_10_rush_1st_perc}}</td>
<td id='rb_10_rush_fum' class='rb_rush_fum'>{{ rb_10_rush_fum}}</td>
</tr>
<tr>
<td id='rb_11' class='rb_name'>{{ rb_11}}</td>
<td id='rb_11_rush_yds' class='rb_rush_yds'>{{ rb_11_rush_yds}}</td>
<td id='rb_11_att' class='rb_att'>{{ rb_11_att}}</td>
<td id='rb_11_td' class='rb_td'>{{ rb_11_td}}</td>
<td id='rb_11_20' class='rb_20'>{{ rb_11_20}}</td>
<td id='rb_11_40' class='rb_40+'>{{ rb_11_40}}</td>
<td id='rb_11_long' class='rb_long'>{{ rb_11_long}}</td>
<td id='rb_11_rush_1st' class='rb_rush_1st'>{{ rb_11_rush_1st}}</td>
<td id='rb_11_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_11_rush_1st_perc}}</td>
<td id='rb_11_rush_fum' class='rb_rush_fum'>{{ rb_11_rush_fum}}</td>
</tr>
<tr>
<td id='rb_12' class='rb_name'>{{ rb_12}}</td>
<td id='rb_12_rush_yds' class='rb_rush_yds'>{{ rb_12_rush_yds}}</td>
<td id='rb_12_att' class='rb_att'>{{ rb_12_att}}</td>
<td id='rb_12_td' class='rb_td'>{{ rb_12_td}}</td>
<td id='rb_12_20' class='rb_20'>{{ rb_12_20}}</td>
<td id='rb_12_40' class='rb_40+'>{{ rb_12_40}}</td>
<td id='rb_12_long' class='rb_long'>{{ rb_12_long}}</td>
<td id='rb_12_rush_1st' class='rb_rush_1st'>{{ rb_12_rush_1st}}</td>
<td id='rb_12_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_12_rush_1st_perc}}</td>
<td id='rb_12_rush_fum' class='rb_rush_fum'>{{ rb_12_rush_fum}}</td>
</tr>
<tr>
<td id='rb_13' class='rb_name'>{{ rb_13}}</td>
<td id='rb_13_rush_yds' class='rb_rush_yds'>{{ rb_13_rush_yds}}</td>
<td id='rb_13_att' class='rb_att'>{{ rb_13_att}}</td>
<td id='rb_13_td' class='rb_td'>{{ rb_13_td}}</td>
<td id='rb_13_20' class='rb_20'>{{ rb_13_20}}</td>
<td id='rb_13_40' class='rb_40+'>{{ rb_13_40}}</td>
<td id='rb_13_long' class='rb_long'>{{ rb_13_long}}</td>
<td id='rb_13_rush_1st' class='rb_rush_1st'>{{ rb_13_rush_1st}}</td>
<td id='rb_13_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_13_rush_1st_perc}}</td>
<td id='rb_13_rush_fum' class='rb_rush_fum'>{{ rb_13_rush_fum}}</td>
</tr>
<tr>
<td id='rb_14' class='rb_name'>{{ rb_14}}</td>
<td id='rb_14_rush_yds' class='rb_rush_yds'>{{ rb_14_rush_yds}}</td>
<td id='rb_14_att' class='rb_att'>{{ rb_14_att}}</td>
<td id='rb_14_td' class='rb_td'>{{ rb_14_td}}</td>
<td id='rb_14_20' class='rb_20'>{{ rb_14_20}}</td>
<td id='rb_14_40' class='rb_40+'>{{ rb_14_40}}</td>
<td id='rb_14_long' class='rb_long'>{{ rb_14_long}}</td>
<td id='rb_14_rush_1st' class='rb_rush_1st'>{{ rb_14_rush_1st}}</td>
<td id='rb_14_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_14_rush_1st_perc}}</td>
<td id='rb_14_rush_fum' class='rb_rush_fum'>{{ rb_14_rush_fum}}</td>
</tr>
<tr>
<td id='rb_15' class='rb_name'>{{ rb_15}}</td>
<td id='rb_15_rush_yds' class='rb_rush_yds'>{{ rb_15_rush_yds}}</td>
<td id='rb_15_att' class='rb_att'>{{ rb_15_att}}</td>
<td id='rb_15_td' class='rb_td'>{{ rb_15_td}}</td>
<td id='rb_15_20' class='rb_20'>{{ rb_15_20}}</td>
<td id='rb_15_40' class='rb_40+'>{{ rb_15_40}}</td>
<td id='rb_15_long' class='rb_long'>{{ rb_15_long}}</td>
<td id='rb_15_rush_1st' class='rb_rush_1st'>{{ rb_15_rush_1st}}</td>
<td id='rb_15_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_15_rush_1st_perc}}</td>
<td id='rb_15_rush_fum' class='rb_rush_fum'>{{ rb_15_rush_fum}}</td>
</tr>
<tr>
<td id='rb_16' class='rb_name'>{{ rb_16}}</td>
<td id='rb_16_rush_yds' class='rb_rush_yds'>{{ rb_16_rush_yds}}</td>
<td id='rb_16_att' class='rb_att'>{{ rb_16_att}}</td>
<td id='rb_16_td' class='rb_td'>{{ rb_16_td}}</td>
<td id='rb_16_20' class='rb_20'>{{ rb_16_20}}</td>
<td id='rb_16_40' class='rb_40+'>{{ rb_16_40}}</td>
<td id='rb_16_long' class='rb_long'>{{ rb_16_long}}</td>
<td id='rb_16_rush_1st' class='rb_rush_1st'>{{ rb_16_rush_1st}}</td>
<td id='rb_16_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_16_rush_1st_perc}}</td>
<td id='rb_16_rush_fum' class='rb_rush_fum'>{{ rb_16_rush_fum}}</td>
</tr>
<tr>
<td id='rb_17' class='rb_name'>{{ rb_17}}</td>
<td id='rb_17_rush_yds' class='rb_rush_yds'>{{ rb_17_rush_yds}}</td>
<td id='rb_17_att' class='rb_att'>{{ rb_17_att}}</td>
<td id='rb_17_td' class='rb_td'>{{ rb_17_td}}</td>
<td id='rb_17_20' class='rb_20'>{{ rb_17_20}}</td>
<td id='rb_17_40' class='rb_40+'>{{ rb_17_40}}</td>
<td id='rb_17_long' class='rb_long'>{{ rb_17_long}}</td>
<td id='rb_17_rush_1st' class='rb_rush_1st'>{{ rb_17_rush_1st}}</td>
<td id='rb_17_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_17_rush_1st_perc}}</td>
<td id='rb_17_rush_fum' class='rb_rush_fum'>{{ rb_17_rush_fum}}</td>
</tr>
<tr>
<td id='rb_18' class='rb_name'>{{ rb_18}}</td>
<td id='rb_18_rush_yds' class='rb_rush_yds'>{{ rb_18_rush_yds}}</td>
<td id='rb_18_att' class='rb_att'>{{ rb_18_att}}</td>
<td id='rb_18_td' class='rb_td'>{{ rb_18_td}}</td>
<td id='rb_18_20' class='rb_20'>{{ rb_18_20}}</td>
<td id='rb_18_40' class='rb_40+'>{{ rb_18_40}}</td>
<td id='rb_18_long' class='rb_long'>{{ rb_18_long}}</td>
<td id='rb_18_rush_1st' class='rb_rush_1st'>{{ rb_18_rush_1st}}</td>
<td id='rb_18_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_18_rush_1st_perc}}</td>
<td id='rb_18_rush_fum' class='rb_rush_fum'>{{ rb_18_rush_fum}}</td>
</tr>
<tr>
<td id='rb_19' class='rb_name'>{{ rb_19}}</td>
<td id='rb_19_rush_yds' class='rb_rush_yds'>{{ rb_19_rush_yds}}</td>
<td id='rb_19_att' class='rb_att'>{{ rb_19_att}}</td>
<td id='rb_19_td' class='rb_td'>{{ rb_19_td}}</td>
<td id='rb_19_20' class='rb_20'>{{ rb_19_20}}</td>
<td id='rb_19_40' class='rb_40+'>{{ rb_19_40}}</td>
<td id='rb_19_long' class='rb_long'>{{ rb_19_long}}</td>
<td id='rb_19_rush_1st' class='rb_rush_1st'>{{ rb_19_rush_1st}}</td>
<td id='rb_19_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_19_rush_1st_perc}}</td>
<td id='rb_19_rush_fum' class='rb_rush_fum'>{{ rb_19_rush_fum}}</td>
</tr>
<tr>
<td id='rb_20' class='rb_name'>{{ rb_20}}</td>
<td id='rb_20_rush_yds' class='rb_rush_yds'>{{ rb_20_rush_yds}}</td>
<td id='rb_20_att' class='rb_att'>{{ rb_20_att}}</td>
<td id='rb_20_td' class='rb_td'>{{ rb_20_td}}</td>
<td id='rb_20_20' class='rb_20'>{{ rb_20_20}}</td>
<td id='rb_20_40' class='rb_40+'>{{ rb_20_40}}</td>
<td id='rb_20_long' class='rb_long'>{{ rb_20_long}}</td>
<td id='rb_20_rush_1st' class='rb_rush_1st'>{{ rb_20_rush_1st}}</td>
<td id='rb_20_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_20_rush_1st_perc}}</td>
<td id='rb_20_rush_fum' class='rb_rush_fum'>{{ rb_20_rush_fum}}</td>
</tr>
<tr>
<td id='rb_21' class='rb_name'>{{ rb_21}}</td>
<td id='rb_21_rush_yds' class='rb_rush_yds'>{{ rb_21_rush_yds}}</td>
<td id='rb_21_att' class='rb_att'>{{ rb_21_att}}</td>
<td id='rb_21_td' class='rb_td'>{{ rb_21_td}}</td>
<td id='rb_21_20' class='rb_20'>{{ rb_21_20}}</td>
<td id='rb_21_40' class='rb_40+'>{{ rb_21_40}}</td>
<td id='rb_21_long' class='rb_long'>{{ rb_21_long}}</td>
<td id='rb_21_rush_1st' class='rb_rush_1st'>{{ rb_21_rush_1st}}</td>
<td id='rb_21_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_21_rush_1st_perc}}</td>
<td id='rb_21_rush_fum' class='rb_rush_fum'>{{ rb_21_rush_fum}}</td>
</tr>
<tr>
<td id='rb_22' class='rb_name'>{{ rb_22}}</td>
<td id='rb_22_rush_yds' class='rb_rush_yds'>{{ rb_22_rush_yds}}</td>
<td id='rb_22_att' class='rb_att'>{{ rb_22_att}}</td>
<td id='rb_22_td' class='rb_td'>{{ rb_22_td}}</td>
<td id='rb_22_20' class='rb_20'>{{ rb_22_20}}</td>
<td id='rb_22_40' class='rb_40+'>{{ rb_22_40}}</td>
<td id='rb_22_long' class='rb_long'>{{ rb_22_long}}</td>
<td id='rb_22_rush_1st' class='rb_rush_1st'>{{ rb_22_rush_1st}}</td>
<td id='rb_22_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_22_rush_1st_perc}}</td>
<td id='rb_22_rush_fum' class='rb_rush_fum'>{{ rb_22_rush_fum}}</td>
</tr>
<tr>
<td id='rb_23' class='rb_name'>{{ rb_23}}</td>
<td id='rb_23_rush_yds' class='rb_rush_yds'>{{ rb_23_rush_yds}}</td>
<td id='rb_23_att' class='rb_att'>{{ rb_23_att}}</td>
<td id='rb_23_td' class='rb_td'>{{ rb_23_td}}</td>
<td id='rb_23_20' class='rb_20'>{{ rb_23_20}}</td>
<td id='rb_23_40' class='rb_40+'>{{ rb_23_40}}</td>
<td id='rb_23_long' class='rb_long'>{{ rb_23_long}}</td>
<td id='rb_23_rush_1st' class='rb_rush_1st'>{{ rb_23_rush_1st}}</td>
<td id='rb_23_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_23_rush_1st_perc}}</td>
<td id='rb_23_rush_fum' class='rb_rush_fum'>{{ rb_23_rush_fum}}</td>
</tr>
<tr>
<td id='rb_24' class='rb_name'>{{ rb_24}}</td>
<td id='rb_24_rush_yds' class='rb_rush_yds'>{{ rb_24_rush_yds}}</td>
<td id='rb_24_att' class='rb_att'>{{ rb_24_att}}</td>
<td id='rb_24_td' class='rb_td'>{{ rb_24_td}}</td>
<td id='rb_24_20' class='rb_20'>{{ rb_24_20}}</td>
<td id='rb_24_40' class='rb_40+'>{{ rb_24_40}}</td>
<td id='rb_24_long' class='rb_long'>{{ rb_24_long}}</td>
<td id='rb_24_rush_1st' class='rb_rush_1st'>{{ rb_24_rush_1st}}</td>
<td id='rb_24_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_24_rush_1st_perc}}</td>
<td id='rb_24_rush_fum' class='rb_rush_fum'>{{ rb_24_rush_fum}}</td>
</tr>
<tr>
<td id='rb_25' class='rb_name'>{{ rb_25}}</td>
<td id='rb_25_rush_yds' class='rb_rush_yds'>{{ rb_25_rush_yds}}</td>
<td id='rb_25_att' class='rb_att'>{{ rb_25_att}}</td>
<td id='rb_25_td' class='rb_td'>{{ rb_25_td}}</td>
<td id='rb_25_20' class='rb_20'>{{ rb_25_20}}</td>
<td id='rb_25_40' class='rb_40+'>{{ rb_25_40}}</td>
<td id='rb_25_long' class='rb_long'>{{ rb_25_long}}</td>
<td id='rb_25_rush_1st' class='rb_rush_1st'>{{ rb_25_rush_1st}}</td>
<td id='rb_25_rush_1st_perc' class='rb_rush_1st_perc'>{{ rb_25_rush_1st_perc}}</td>
<td id='rb_25_rush_fum' class='rb_rush_fum'>{{ rb_25_rush_fum}}</td>
</tr>
  </table>
  {% endblock %}
</body>
