html {
  background-color: lightgrey;
}

#wrap {
  position: relative;
  min-height: 100vh;
}

#main {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

#nav_bar {
  position: relative;
  list-style-type: none;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

#nav_bar li {
  float: left;
}

#nav_bar li a {
  display: block;
  color: red;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

#nav_bar li a:hover {
  color: white;
}

#qb_stats, #rb_stats, #defense_stats {
  margin-left: auto;
  margin-right: auto;
}


.player, .table_header, #table_title, .rb_name, .def_team_name {
  background-color: darkgrey;
  font-size: 1.1em;
}

footer {
  display: inline;
  font-size: .875em;
  text-align: center;
}

footer ul {
  list-style-type: none;
  overflow: hidden;
}

footer ul li {
  display: inline-block;
  text-align: center;
}

footer ul li a {
  display: block;
  color: red;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

footer ul li a:hover {
  color: white;
}

#index_title {
  text-align: center;
  color: red;
}

#index_content {
  text-align: center;
}

button {
  background-color: rgb(215,211,211);
  border-color: black;
  margin-top: 3px;
  border-width: thin;
}

#footer {
  max-height: 100%;
}


#choose_stat_1:hover, button:hover, .user_choices:hover {
  cursor: pointer;
  background-color: red;
}

.question {
  font-size: 1.05em;
  font-weight: bold;
}

.question_2 {
  font-size: 1.01em;
  font-weight: bold;
}

button:active {
  background-color:red;
}

@media only screen and (max-width : 480px) {
}

@media only screen and (min-width : 480px) and (max-width: 900px) {
  #slides {
    padding-bottom: 30px;
  }
}

.sideshow {
  width: 100%;
  height: 1000px;
}
